.container {
  width: 65%;
  background-color: rgb(255, 255, 255);
}

h2 {
  color: #23294b;
  text-align: center;
  margin-bottom: 1%;
}

.table-container {
  max-height: 450px;
  overflow-y: auto; 
  border: 2px solid #eeeff4;
  border-radius: 5px;
}

.table {
  border: 2px solid #eeeff4;
  border-radius: 5px;
  width: 100%;
}

.supercontainer{
  padding: 4%;
  border: 2px solid #eeeff4;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}